soi-2023-lab1-rdproc-manugcr/bin/
soi-2023-lab1-rdproc-manugcr/rdproc


soi-2023-lab2-myshell-manugcr/bin/
soi-2023-lab2-myshell-manugcr/myshell

soi-2023-memory-manugcr/bin/
soi-2023-memory-manugcr/main
